@{
  Layout = "Shared/_Layout.cshtml";
}
<div class="well">
  <h1>input your image</h1>
  <form class="" action="/user-profile" method="post">
    <input type="file" id="myFile">
    <input type="hidden" name="value" value="" id="path">
    <button type="submit" name="button">Upload image</button>
  </form>
</div>
