CREATE DATABASE tinder_test;
GO
USE [tinder_test]
GO
/****** Object:  Table [dbo].[avatars]    Script Date: 3/6/2017 4:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[avatars](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[image] [varbinary](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[locations]    Script Date: 3/6/2017 4:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[locations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[location] [geography] NULL,
	[radius]  AS ([location].[STBuffer]((5000)))
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[locations_test]    Script Date: 3/6/2017 4:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[locations_test](
	[locationId] [int] IDENTITY(1,1) NOT NULL,
	[location] [geography] NULL,
	[deliveryArea]  AS ([location].[STBuffer]((1000))) PERSISTED
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TestBlob]    Script Date: 3/6/2017 4:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestBlob](
	[tbId] [int] IDENTITY(1,1) NOT NULL,
	[tbName] [varchar](50) NULL,
	[tbDesc] [varchar](100) NULL,
	[tbBin] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[locations_test] ON 

INSERT [dbo].[locations_test] ([locationId], [location]) VALUES (6, 0xE6100000010C0D7CB14E435D4440000000EDAD7F52C0)
INSERT [dbo].[locations_test] ([locationId], [location]) VALUES (7, 0xE6100000010C57BB815DA8CD474000D9DAB147955EC0)
SET IDENTITY_INSERT [dbo].[locations_test] OFF
SET IDENTITY_INSERT [dbo].[TestBlob] ON 

SET IDENTITY_INSERT [dbo].[TestBlob] OFF
